<section
  class="w-full px-3 flex flex-col md:flex-row gap-3 mt-3 justify-between"
>
  <div class="flex flex-col gap-1 md:gap-2">
    <span class="poppins-medium text-3xl">Lista de platos</span>
    <span class="text-lg text-slate-400"
      >Gestión de los platos del menú y su disponibilidad diaria</span
    >
  </div>
  <div
    class="flex flex-col md:flex-row items-center gap-3 md:gap-4 w-full md:w-auto"
  >
    <div
      (click)="showFilters = !showFilters"
      class="hover:bg-slate-50 dark:hover:bg-gray-900/80 cursor-pointer flex bg-slate-100 dark:bg-gray-900 shadow-md px-3 w-full md:w-auto py-2 md:py-3 rounded items-center gap-2"
    >
      <i
        class="text-primary-500 dark:text-primary-400 pi pi-sliders-h text-3xl md:text-5xl"
      ></i>
      <div class="flex flex-col gap-2">
        <div class="md:px-3">Filtros</div>
      </div>
    </div>

    @if(!layoutService.isMobile()){
    <div
      (click)="createItem()"
      class="transition-colors duration-300 flex cursor-pointer hover:bg-primary-200 bg-primary-100 dark:bg-primary-400/10 dark:hover:bg-primary-400/20 hover:shadow-lg shadow-md px-3 w-full md:w-auto py-3 rounded items-center gap-2"
    >
      <i class="text-primary-500 dark:text-primary-400 pi pi-plus text-5xl"></i>
    </div>
    } @else {
    <div
      (click)="createItem()"
      class="flex bg-slate-100 dark:bg-gray-900 shadow-md px-3 w-full md:w-auto py-2 md:py-3 rounded items-center gap-2"
    >
      <i class="text-primary-500 pi pi-plus text-3xl md:text-6xl"></i>
      <div class="flex flex-col gap-2">
        <span class="">Añadir item</span>
      </div>
    </div>
    }
  </div>
</section>
<div class="px-3 mt-2 md:mt-4">
  @if (showFilters) {
  <div class="flex flex-col md:flex-row md:justify-between gap-2">
    <p-dropdown
      [options]="sortOptions"
      placeholder="Filtrar por tipo de item"
      (onChange)="filterByTypeItem($event)"
      [showClear]="true"
      styleClass="p-inputtext-sm w-full md:w-auto"
    />
    <p-iconfield>
      <p-inputicon styleClass="-mt-4 pi pi-search"></p-inputicon>
      <input
        pInputText
        type="text"
        placeholder="Buscar item"
        (input)="customGlobalFilter($event)"
        class="focus:border-orange-500 rounded-lg p-inputtext-sm w-full md:w-auto"
      />
    </p-iconfield>
  </div>
  }
  <div class="p-0 rounded">
    <div class="grid grid-nogutter mt-2">
      <div class="col-12" *ngFor="let item of items; let first = first">
        <div
          class="flex bg-white dark:bg-gray-900 flex-col my-1 xl:flex-row xl:items-start p-4 gap-4 border-top-1 bg-slate-border"
          [ngClass]="{ 'border-top-1 bg-slate-border': !first }"
        >
          <p-image
            imageClass="w-8  sm:w-56 xl:w-40  px-2 block xl:block mx-auto rounded"
            styleClass="px-2 w-full"
            [preview]="true"
            [src]="item.photo | item"
            [alt]="item.name"
          />
          <div
            class="flex flex-col sm:flex-row justify-between items-center xl:items-center flex-1 gap-4"
          >
            <div class="flex flex-col items-center sm:items-start gap-3">
              <div class="text-2xl font-bold text-slate-900 dark:text-gray-100">
                {{ item.name }}
              </div>
              <p-rating [(ngModel)]="star" [readonly]="false"></p-rating>
              <div class="flex items-center gap-3">
                <span class="flex items-center gap-2">
                  <i class="text-slate-500 pi pi-tag"></i>
                  <span class="text-slate-500 font-semibold">{{ item.type_item }}</span>
                </span>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center sm:items-end gap-3 md:gap-4"
            >
              <div
                class="bg-slate-100 border-slate-500/20 dark:bg-gray-800 border-4 p-1"
                style="border-radius: 30px"
              >
                <div
                  style="border-radius: 30px"
                  class="bg-slate-0 price-style poppins-medium flex items-center gap-2 justify-center py-1 px-2"
                >
                  <span class="text-primary-500 dark:text-primary-400">Bs.</span>
                  <span class="text-slate-900 dark:text-primary-100 font-medium text-lg">{{
                    item.price
                  }}</span>
                </div>
              </div>
              <div class="flex gap-2">
                <p-button
                  styleClass="border-none bg-primary-50 dark:bg-primary-500/20"
                  icon="pi pi-pencil font-medium text-xl"
                  [outlined]="true"
                  class="md:self-end"
                  (onClick)="showItem(item)"
                />
                <p-button
                  styleClass="border-none bg-slate-100 dark:bg-gray-500/20"
                  icon="pi pi-trash font-medium text-xl"
                  severity="secondary"
                  [outlined]="true"
                  class="md:self-end"
                  (onClick)="deleteItem(item)"
                />
                <p-button
                  styleClass="border-none bg-primary-50 dark:bg-primary-500/20"
                  icon="pi pi-eye font-medium text-xl"
                  [outlined]="true"
                  class="md:self-end"
                  (onClick)="op.toggle($event)"
                  (onClick)="onSelectedItem(item)"
                />
              </div>
              @if(item.dailyAvailabilities!.length === 0){
              <div
                class="flex gap-2 items-center text-500 text-xs md:text-sm poppins-regular"
              >
                <i class="pi pi-circle text-400"> </i>
                <span>
                  No tenemos la disponibilidad de este item para hoy
                </span>
              </div>
              } @else {
              <div
                (click)="
                  onSelectedAvailable(item, item.dailyAvailabilities![0])
                "
                (click)="op2.toggle($event)"
                class="flex gap-2 items-center text-700 px-3 py-2 cursor-pointer dark:hover:bg-gray-950 hover:bg-slate-100 rounded text-sm md:text-base poppins-regular text-center"
              >
                <i class="pi pi-circle-fill text-green-400"> </i>
                <span>
                  {{
                    "Tenemos " +
                      (item.dailyAvailabilities![0].quantity -
                        item.dailyAvailabilities![0].sold) +
                      " disponible(s) para Hoy"
                  }}
                </span>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>

<p-overlayPanel #op>
  <div class="flex flex-col gap-3 w-full">
    <span class="text-lg font-semibold">Agregar disponilidad de item</span>
    <p-calendar
      [(ngModel)]="date"
      dateFormat="yy-mm-dd"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="2010:2030"
      [showIcon]="true"
    />
    <p-iconfield class="w-full md:w-auto">
      <p-inputNumber
        inputId="integeronly"
        [(ngModel)]="quantity"
        [inputStyleClass]="quantityDirty ? 'border-red-200 w-full' : 'w-full'"
        placeholder="Cantidad"
      />
      <p-inputicon styleClass="pi pi-info-circle text-xl z-2"></p-inputicon>
    </p-iconfield>
    <p-button
      label="Crear disponilidad"
      styleClass="w-full"
      severity="success"
      (onClick)="createAvailability()"
    ></p-button>
  </div>
</p-overlayPanel>

<p-overlayPanel #op2>
  <div class="flex flex-col gap-3 w-full">
    <span class="text-lg font-semibold">Actualizar disponilidad de item</span>
    <p-calendar
      [(ngModel)]="selectAvailable!.date"
      dateFormat="yy-mm-dd"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="2010:2030"
      [showIcon]="true"
    />
    <p-iconfield class="w-full md:w-auto">
      <p-inputNumber
        inputId="integeronly"
        [(ngModel)]="selectAvailable!.quantity"
        [inputStyleClass]="quantityDirty ? 'border-red-200 w-full' : 'w-full'"
        placeholder="Cantidad"
      />
      <p-inputicon styleClass="pi pi-info-circle text-xl z-2"></p-inputicon>
    </p-iconfield>
    <p-button
      label="Actualizar disponilidad"
      styleClass="w-full"
      severity="success"
      (onClick)="updateAvailability()"
    ></p-button>
  </div>
</p-overlayPanel>
