<div class="w-full flex flex-column gap-3 mt-2 md:mt-0">
  <div class="flex w-full gap-3 md:gap-5">
    <div class="flex flex-column gap-2 w-full">
      <label class="poppins-regular" for="username">
        <i class="pi pi-user mr-2"></i>Nombre</label
      >

      <input
        id="username"
        type="text"
        pInputText
        [(ngModel)]="item.name"
        placeholder="Nombre del producto"
        class="w-full p-inputtext-sm"
        [ngClass]="{ 'ng-invalid ng-dirty': inputDirt }"
        [ngClass]="{ 'ng-invalid ng-dirty': item.name.length === 0 }"
      />
    </div>

    <div class="flex flex-column gap-2 w-full">
      <label class="poppins-regular" for="username"
        ><i class="pi pi-money-bill mr-2"></i>Precio</label
      >
      <input
        id="username"
        type="number "
        pInputText
        [(ngModel)]="item.price"
        class="w-full p-inputtext-sm"
        [ngClass]="{ 'ng-invalid ng-dirty': inputDirt }"
      />
    </div>
  </div>
  <div class="flex flex-column gap-2 w-full">
    <label class="poppins-regular" for="username"><i class="pi pi-info-circle mr-2"></i>Descripción</label>
    <textarea
      rows="2"
      cols="30"
      pTextarea
      placeholder="Descripcion sobre el producto (Opcional)"
      [(ngModel)]="item.description"
      [autoResize]="true"
      class="w-full"
    ></textarea>
  </div>
  <div class="flex flex-column md:flex-row w-full gap-5">
    <div class="flex flex-column w-full gap-2">
      <label class="poppins-regular" for="username"><i class="pi pi-tag mr-2"></i>Tipo de plato</label>
      <p-dropdown
        inputId="integeronly"
        [(ngModel)]="item.type_item"
        [options]="typeItems"
        styleClass="p-inputtext-sm w-full poppins-regular"
      />
    </div>
  </div>
  <div class="flex flex-column w-full gap-3 align-items-center -mb-3">
    @if (item.photo === '') {
    <div
      class="flex flex-column justify-content-center align-items-center w-7 md:w-4 h-6rem md:h-7rem border-1 border-round-lg border-gray-600"
    >
      <i class="pi pi-image text-3xl text-gray-600 mt-2"></i>
      <p class="text-gray-600 text-xs mt-1 poppins-regular">No hay imagen</p>
    </div>
    } @else {
    <div
      class="flex justify-content-center align-items-center w-7 md:w-4 h-6rem md:h-7rem border-round-lg"
    >
      <p-image [src]="url + item.photo" imageClass="w-full" />
    </div>
    }

    <div
      class="w-full flex flex-column justify-content-center  align-items-center  gap-3"
    >
      <p-fileUpload
        mode="basic"
        name="file[]"
        [auto]="true"
        accept="image/*"
        styleClass="p-button-secondary  p-button-sm poppins-regular"
        chooseLabel="Subir imagen"
        chooseIcon="pi pi-images"
        [disabled]="config.data?.disabled ? true : false"
        [customUpload]="true"
        (uploadHandler)="onUpload($event)"
      ></p-fileUpload>
    </div>
    <div class="w-full">
      <p-button
        styleClass="w-full poppins-regular"
        [label]="this.config.data ? 'Actualizar Item' : 'Crear Item'"
        [disabled]="config.data?.disabled ? true : false"
        severity="success"
        size="small"
        (onClick)="saveItem()"
      ></p-button>
    </div>
  </div>
</div>
