<div
  class="w-full h-screen bg-gray-700 shadow-4 flex flex-column transition-ease-in-out transition-duration-500 align-items-center"
>
  <div class="w-9 md:w-full px-4 py-4 md:py-2">
    <img
      src="../../../assets/logo-antuca.svg"
      alt="logo-antuca"
      class="w-full"
    />
    @if (layoutService.isMobile()) {
    <p-button
      icon="pi pi-times"
      severity="warning"
      [rounded]="true"
      [outlined]="true"
      styleClass="h-2rem w-2rem absolute top-0 right-0 mt-4 mr-4"
      (onClick)="toogleMenu()"
    ></p-button>
    }
  </div>
  <div class="w-full">
    <p-menu [model]="items" styleClass="w-full"></p-menu>
  </div>
</div>
<p-toast position="top-center"></p-toast>
