<div class="flex justify-content-between">
  <app-title title="Órdenes o comandas" />
  <div class="flex gap-3 justify-content-center align-items-center">
    <p-button
      severity="info"
      [outlined]="true"
      [rounded]="true"
      [icon]="ordersService.loading() ? 'pi pi-spin pi-spinner font-medium text-xl' : 'pi pi-refresh font-medium text-xl'"
      size="small"
      (onClick)="refreshData()"
    ></p-button>
    <p-button
      severity="success"
      icon="pi pi-plus font-medium"
      label="Nueva órden"
      [rounded]="true"
      styleClass="text-lg"
    ></p-button>
  </div>
</div>
<p-card>
  <p-dataView #dv [value]="orders()" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex justify-content-end"></div>
    </ng-template>

    <ng-template let-order pTemplate="grid">
      <div class="grid grid-nogutter">
        <div
          class="col-12 md:col-3 p-2"
          *ngFor="let order of orders()"
        >
          <div
            class="p-4 border-1 surface-border bg-white-alpha-10 border-round"
          >
            <div
              class="flex flex-wrap align-items-center justify-content-center gap-2"
            >
              <span class="flex align-items-center gap-2">
                <i class="pi pi-user"></i>
                <span class="font-semibold">
                  {{ order.client.name }} {{ order.client.lastname }}</span
                >
              </span>
              <p-tag
                [value]="order.state.name"
                [severity]="order.state.color"
              ></p-tag>
            </div>
            <div class="flex flex-column align-items-center gap-3 py-5">
              <div class="text-2xl font-bold">{{ order.date | date }}</div>
            </div>
            <div class="flex align-items-center justify-content-between">
              <span class="text-2xl font-semibold">{{ '$' + '5684' }}</span>
              <button
                pButton
                icon="pi pi-shopping-cart"
                class="p-button-rounded"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-card>
