<section class="m-0 bg-gray-900">
  <div
    class="flex flex-column align-items-center justify-content-center px-4 py-5  h-screen m-0"
  >
    <a
      href="#"
      class="flex align-items-center text-2xl font-semibold text-white"
    >
      <img
        class="w-12rem h-12rem"
        src="../../assets/logo-antuca.svg"
        alt="logo"
      />
    </a>
    <div
      class="md:w-4 w-12 border-round-lg shadow border md:mt-0 xl:p-0 bg-gray-800 border-gray-700"
    >
      <div class="px-4 pt-2 pb-5 md:px-5 flex flex-column gap-3">
        <h1 class="text-lg font-bold md:text-2xl text-white">
          Ingresa con tus crendenciales
        </h1>
        <div>
          <label for="email" class="block mb-1 text-sm font-medium text-white"
            >Correo</label
          >
          <div class="relative">
            <input
              pInputText
              type="email"
              name="email"
              [(ngModel)]="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="name@antucarestaurante.com"
              [required]="true"
            />
          </div>
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-white"
            >Contraseña</label
          >
          <div class="relative">
            <input
              pInputText
              [type]="showPassword ? 'text':'password'"
              name="password"
              [(ngModel)]="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              required=""
            />
            <i
              [ngClass]="showPassword ? 'pi pi-eye absolute top-0 right-0 mt-2 mr-2 pt-1 cursor-pointer':'pi pi-eye-slash absolute top-0 right-0 mt-2 mr-2 pt-1 cursor-pointer' "
              (click)="showPassword = !showPassword"
            ></i>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <p-checkbox
                name="yourName"
                value="YourValue"
                [(ngModel)]="remember"
                [ngModelOptions]="{standalone: true}"
                type="checkbox"
                styleClass=" cursor-pointer border border-gray-300 border-rounded-lg bg-gray-50 focus:ring-3 checked:bg-orange-500 checked:border-transparent focus:ring-primary-300 bg-gray-700 border-gray-600 focus:ring-primary-600 ring-offset-gray-800"
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500 text-gray-300"
                >Recuerdame</label
              >
            </div>
          </div>
        </div>
        <p-button
          severity="warning"
          label="Ingresar"
          styleClass="w-full"
          (click)="authCustomer()"
        ></p-button>
      </div>
    </div>
  </div>
</section>

<p-toast position="top-center"></p-toast>
