<div
  class="flex justify-content-between w-full bg-bluegray-800 px-4 shadow-4"
>
  <div class="flex align-items-center">
    <p-button
      #menubutton
      [icon]="layoutService.state.staticMenuDesktopInactive ? 'pi pi-times' : 'pi pi-bars'"
      severity="warning"
      [rounded]="true"
      [outlined]="true"
      styleClass="h-2rem w-2rem"
      (click)="onMenuButtonClick()"
    >
    </p-button>
    <!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->
  </div>

  <ul class="list-none flex gap-2 justify-content-center align-items-center">
    <li class="topbar-search">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Buscar"
          class="w-12rem sm:w-full focus:border-orange-500"
          style="height: 40px;"
        />
      </span>
    </li>
    <li class="topbar-profile">
      <button
        type="button"
        class="p-link avatar"
        (click)="onProfileButtonClick()"
      >
        <img
          [src]="customer!.photo | image"
          class="border-circle"
          style="width: 40px; height: 40px; margin-top: 4px;"
          alt="Profile"
        />
      </button>
    </li>
  </ul>
</div>
