<section
  class="w-full px-3 flex flex-col md:flex-row gap-3 mt-3 justify-between"
>
  <div class="flex flex-col gap-1 md:gap-2">
    <span class="poppins-medium text-3xl">Estados</span>
    <span class="text-lg text-slate-400">Aquí están los estados registrados</span>
  </div>
  <div
    class="flex flex-col md:flex-row items-center gap-3 md:gap-4 w-full md:w-auto"
  >
    @if(!layoutService.isMobile()){
    <div
      (click)="createState()"
      class="transition-colors duration-300 flex cursor-pointer hover:bg-primary-200 bg-primary-100 dark:bg-primary-400/10 dark:hover:bg-primary-400/20 hover:shadow-lg shadow-md px-3 w-full md:w-auto py-3 rounded items-center gap-2"
    >
      <i class="text-primary-500 dark:text-primary-400 pi pi-plus text-5xl"></i>
    </div>
    } @else {
    <div
      (click)="createState()"
      class="flex bg-slate-100 dark:bg-gray-900 shadow-md px-3 w-full md:w-auto py-2 md:py-3 rounded items-center gap-2"
    >
      <i class="text-primary pi pi-plus text-3xl md:text-6xl"></i>
      <div class="flex flex-col gap-2">
        <span class="">Añadir orden</span>
      </div>
    </div>
    }
  </div>
</section>

<div class="px-3 mt-2 md:mt-4">
  <div class="p-0 rounded">
    <p-table
      [value]="states()"
      styleClass=""
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id_order" class="py-3 pl-8 whitespace-nowrap">
            Id de estado <p-sortIcon field="id_order" />
          </th>
          <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
          <th pSortableColumn="type" class="py-3 whitespace-nowrap">
            Tipo de estado <p-sortIcon field="type" />
          </th>
          <th pSortableColumn="priority" class="py-3 whitespace-nowrap">
            Prioridad <p-sortIcon field="priority" />
          </th>
          <th class="py-3"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-state>
        <tr>
          <td class="pl-8">{{ "SAR-" + state.id_state }}</td>
          <td>{{ state.name }}</td>
          <td>
            {{ state.type }}
          </td>
          <td>{{ state.priority }}</td>

          <td class="whitespace-nowrap">
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              [outlined]="true"
              styleClass="h-2rem w-2rem"
              (onClick)="editState(state)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              styleClass="h-2rem w-2rem ml-2"
              (onClick)="deleteState(state)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ "Total: " + states().length }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No hay estados registrados</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
<p-drawer [(visible)]="showState" position="right">
  <ng-template pTemplate="header"
    ><span class="font-semibold text-xl"
      >Información de estado</span
    ></ng-template
  >
  <ng-template pTemplate="content">
    <div class="w-full flex flex-col gap-7">
      <div class="flex flex-col gap-2">
        <label for="name">Nombre</label>
        <p-iconfield class="p-input-icon-left">
          <p-inputicon styleClass="pi pi-tag"></p-inputicon>
          <input
            id="name"
            type="text"
            pInputText
            placeholder="Coloque un nombre de estado"
            [(ngModel)]="selectedState.name"
            class="w-full p-inputtext-sm"
            [ngClass]="{
              'ng-invalid ng-dirty': selectedState.name.length === 0
            }"
            [ngClass]="{ 'ng-invalid ng-dirty': inputsDirt.name }"
          />
        </p-iconfield>
      </div>
      <div class="flex flex-col gap-2">
        <label for="type">Tipo</label>
        <p-iconfield class="p-input-icon-left">
          <p-inputicon styleClass="pi pi-home"></p-inputicon>
          <p-dropdown
            [options]="stateOptions"
            [(ngModel)]="selectedState.type"
            placeholder="Seleccione un tipo de estado"
            styleClass="p-inputtext-sm w-full"
            [ngClass]="{ 'ng-invalid ng-dirty': inputsDirt.type }"
          ></p-dropdown>
        </p-iconfield>
      </div>

      <div class="flex flex-col gap-2">
        <label for="priority">Prioridad</label>
        <p-iconfield class="p-input-icon-left">
          <p-inputicon styleClass="pi pi-angle-double-up"></p-inputicon>
          <input
            id="priority"
            type="number"
            pInputText
            [(ngModel)]="selectedState.priority"
            class="w-full p-inputtext-sm"
            [ngClass]="{ 'ng-invalid ng-dirty': inputsDirt.priority }"
          />
        </p-iconfield>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"
    ><p-button
      icon="pi pi-check"
      severity="success"
      styleClass="w-full"
      [label]="
        selectedState.id_state === 0 ? 'Crear estado' : 'Actualizar estado'
      "
      (onClick)="saveState()"
    ></p-button
  ></ng-template>
</p-drawer>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
