<img src="../../../../assets/settings.svg" alt="settings" class="fixed opacity-30 left-50 -ml-8 bottom-0 w-4"  />
<div class="w-full flex flex-wrap m-0 md:mt-3 p-0">
  <section class="col-12 md:col-9 grid m-0 p-0 h-auto">
    <div class="col-12 px-2 md:px-3">
      <div
        class="w-full relative bg-white p-2 md:p-4 align-items-center justify-content-between transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column md:flex-row gap-2 md:gap-5"
      >
        <div class="flex gap-2 align-items-center">
          <div
            class="h-4rem w-4rem border-round surface-50 overflow-hidden flex justify-content-center align-items-center"
          >
            <p-image
              src="../../../../assets/logo-antuca.svg"
              imageClass="w-full"
              [preview]="true"
            ></p-image>
          </div>
          <div class="flex flex-column gap-1 md:gap-2">
            <div class="flex gap-2 align-items-center">
              <div class="text-800 text-xl font-semibold">
                Restaurante Antuca
              </div>
              <p-tag [value]="'Activo'" styleClass="surface-600 text-white" />
            </div>
            <div class="flex gap-1 align-items-center">
              <div class="text-400 text-sm">ID de restaurante:</div>
              <div class="text-700 text-sm font-semibold">301</div>
            </div>
          </div>
        </div>
        <div class="flex gap-2 align-items-center">
          <p-button
            severity="secondary"
            styleClass="surface-200"
            icon="pi pi-whatsapp"
          />
          <p-button
            severity="secondary"
            styleClass="surface-200"
            icon="pi pi-mobile"
          />
          <p-button
            [icon]="layoutService.isMobile() ? 'pi pi-pencil' : ''"
            styleClass="surface-600 border-none"
            [label]="layoutService.isMobile() ? '' : 'Editar datos'"
          />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4 px-2 md:px-3 h-auto">
      <div
        class="w-full h-full relative bg-white md:p-4 p-3 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column gap-2 md:gap-5"
      >
        <div
          class="flex flex-row w-full justify-content-between align-items-center gap-2"
        >
          <div class="text-800 font-semibold text-xl text-center md:text-left">
            Información de contácto
          </div>
          <p-button
            severity="secondary"
            icon="pi pi-ellipsis-h"
            [text]="true"
          />
        </div>
        <div class="flex flex-column gap-2">
          <div class="text-500 text-sm">Numero de celular</div>
          <div class="text-800 text-base">(+591) 68368073</div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="text-500 text-sm">Correo electrónico</div>
          <div class="text-800 text-base">
            {{ "antucarestaurante@gmail.com" }}
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="text-500 text-sm">Dirección</div>
          <div class="text-800 text-base">Petot entre Sucre y Bolivar</div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="text-500 text-sm">Propietario</div>
          <div class="text-800 text-base">Dario Zelaya García</div>
          <div class="text-800 text-base">(+591) 72312723</div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-8 h-auto p-0 flex flex-column">
      <div class="col-12 px-2 md:px-3 h-auto">
        <div
          class="w-full h-full relative bg-white p-3 md:p-4 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column gap-3"
        >
          <div class="flex w-full align-items-center justify-content-between">
            <div
              class="text-800 font-semibold text-xl text-center md:text-left"
            >
              Información general
            </div>
            <p-button
              severity="secondary"
              icon="pi pi-ellipsis-h"
              [text]="true"
            />
          </div>
          <div class="w-full flex gap-2 md:gap-5">
            <div class="w-full flex gap-2">
              <div class="flex flex-column gap-3">
                <div class="text-500">Categoría del restaurante:</div>
                <div class="text-500">Aforo máximo:</div>
                <div class="text-500">Tipo de cocina:</div>
              </div>
              <div class="flex flex-column gap-3">
                <div class="text-700">Almuerzo</div>
                <div class="text-700">45</div>
                <div class="text-700">Italiana / Fusión</div>
              </div>
            </div>
            <div style="width: 5px" class="h-full surface-200"></div>
            <div class="w-full flex gap-2">
              <div class="flex flex-column gap-3">
                <div class="text-500">Plan:</div>
                <div class="text-500">Horario de atención:</div>
              </div>
              <div class="flex flex-column gap-3">
                <div class="text-700">Antuca Plus</div>
                <div class="text-700">
                  De Lunes a Sábado de 12:00 a 14:30 Hrs.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:flex-row w-full justify-content-between align-items-center px-2 md:px-3 gap-2 py-2"
      >
        <div class="text-800 font-semibold text-xl text-center md:text-left">
          Notas del relevantes
        </div>
        <div
          class="text-500 text-sm cursor-pointer hover:underline hover:text-400"
        >
          Ver todas
        </div>
      </div>
      <div class="col-12 overflow-scroll md:overflow-auto flex p-0 h-auto">
        <div class="col-6 md:col-4 px-2 md:px-3 h-auto">
          <div
            class="w-full h-full relative bg-white p-3 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column gap-2 md:gap-3"
          >
            <div class="text-sm text-500">Ene 8, 2025, 15:23</div>
            <div class="text-800 font-semibold">Pédido destacado</div>
            <div class="text-600 mt-1">
              Pedido de 30 platos de lasaña para el día de mañana.
            </div>
          </div>
        </div>
        <div class="col-6 md:col-4 px-2 md:px-3">
          <div
            class="w-full h-full relative bg-white p-3 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column gap-2 md:gap-3"
          >
            <div class="text-sm text-500">Ene 10, 2024, 09:00</div>
            <div class="text-800 font-semibold">Problema reciente</div>
            <div class="text-600 mt-1">
              Reporte de un cliente insatisfecho con la atención.
            </div>
          </div>
        </div>
        <div class="col-6 md:col-4 px-2 md:px-3">
          <div
            class="w-full h-full relative bg-white p-3 transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 border-round flex flex-column gap-2 md:gap-3"
          >
            <div class="text-sm text-500">Ene 12, 2024, 17:45</div>
            <div class="text-800 font-semibold">Alerta</div>
            <div class="text-600 mt-1">
              Se ha detectado un aumento en la cantidad de cancelaciones.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-12 md:col-3 grid m-0 h-auto gap-3">
    <div
      style="min-height: 15rem; max-height: 15rem"
      class="col-12 gap-3 relative h-auto surface-500 overflow-hidden border-round-2xl transition-colors transition-duration-300 hover:surface-500 hover:shadow-4 p-3 flex flex-column justify-content-between"
    >
      <div
        class="absolute left-0 top-50 p-4 bg-black-alpha-50 border-round-right -mt-5 flex align-items-center justify-content-center"
      >
        <div class="font-italic text-2xl font-semibold text-primary-400">
          MIEMBRO VIP
        </div>
      </div>

      <div class="absolute left-50 opacity-10 flex flex-column gap-3 pl-6">
        <div class="flex align-items-center gap-3">
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
        </div>
        <div class="flex align-items-center gap-3">
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
        </div>
        <div class="flex align-items-center gap-3">
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
        </div>
        <div class="flex align-items-center gap-3">
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
          <p-image
            src="../../../../assets/logo-antuca.svg"
            imageClass="w-2rem"
            class="w-2rem"
          />
        </div>
      </div>

      <div class="flex gap-2 align-items-center">
        <div
          class="w-2rem border-circle h-2rem bg-white flex align-items-center justify-content-center"
        >
          <p-image
            src="../../../../assets/logo-antuca.svg"
            alt="logo"
            imageClass="w-2rem mt-1"
            [preview]="true"
          />
        </div>
        <div class="text-white font-semibold">Antuca Admin</div>
      </div>
      <div class="flex w-full justify-content-between">
        <div class="flex gap-2 align-items-center">
          <div class="text-100 text-sm">Restaurante Antuca</div>
          <div style="width: 2px" class="bg-white h-1rem"></div>
          <div class="text-white text-sm font-semibold">301</div>
        </div>

        <div class="text-100 text-sm">Válido hasta 12/25</div>
      </div>
    </div>
    <div
      class="col-12 gap-3 z-1 bg-white border-round-2xl h-auto transition-colors transition-duration-300 hover:surface-50 hover:shadow-4 p-3 flex flex-column"
    >
      <div class="flex w-full align-items-center justify-content-between">
        <div class="flex flex-column gap-1">
          <div class="text-md text-800 font-semibold">
            Personalización
          </div>
        </div>
        <p-button severity="secondary" [text]="true" icon="pi pi-ellipsis-h" />
      </div>
      <div class="flex flex-column gap-3">
        <div class="bg-white w-full border-round gap-2 flex p-2">
          <div
            class="w-3rem  bg-primary-200 border-round flex justify-content-center align-items-center"
          >
            <i class="pi pi-circle-fill "></i>
          </div>
          <div class="flex flex-column w-full gap-1">
            <div class="text-700 poppins-medium text-sm">Ambar-500</div>
            <div class="text-500 text-xs">Color Principal</div>
          </div>
          <p-button
            severity="secondary"
            icon="pi pi-angle-right"
            styleClass="w-2rem h-2rem"
          />
        </div>
        <div class="bg-white w-full border-round gap-2 flex p-2">
          <div
            class="w-3rem  bg-primary-200 border-round flex justify-content-center align-items-center"
          >
            <i class="pi pi-circle"></i>
          </div>
          <div class="flex flex-column w-full gap-1">
            <div class="text-700 poppins-medium text-sm">Surface-200</div>
            <div class="text-500 text-xs">Color Secudanrio</div>
          </div>
          <p-button
            severity="secondary"
            icon="pi pi-angle-right"
            styleClass="w-2rem h-2rem"
          />
        </div>
        <div class="bg-white w-full border-round gap-2 flex p-2">
          <div
            class="w-3rem  bg-primary-200 border-round flex justify-content-center align-items-center"
          >
            <i class="pi pi-bell"></i>
          </div>
          <div class="flex flex-column w-full gap-1">
            <div class="text-700 poppins-medium text-sm">Si</div>
            <div class="text-500 text-xs">Permitir Notificaciones</div>
          </div>
          <p-button
            severity="secondary"
            icon="pi pi-angle-right"
            styleClass="w-2rem h-2rem"
          />
        </div>
        
      </div>
    </div>
  </section>
</div>
