<div class="w-full flex">
  <div
    class="relative transition-ease-in-out transition-duration-500 min-h-screen p-0"
    [ngClass]="showFilters && !layoutService.isMobile() ? 'col-9' : 'col-12'"
  >
    @if (layoutService.isMobile()) {

    <div
      class="surface-100 flex gap-2 justify-content-between md:justify-content-start md:gap-8 fixed bottom-0 z-1 border-top-1 border-300 w-12 md:w-10 px-3 py-2"
    >
      <p-button
        (onClick)="createClient()"
        icon="pi pi-user-plus text-primary-500"
        badge="+"
        badgeClass="text-lg"
        label="Cliente"
        styleClass="bg-primary-50 text-primary-600 text-sm poppins-regular md:mx-8"
        size="large"
      ></p-button>
      <p-button
        (onClick)="createOrder()"
        icon="pi pi-list text-primary-500"
        badge="+"
        badgeClass="text-lg"
        label="Orden"
        styleClass="bg-primary-50 text-primary-600 text-sm poppins-regular md:mx-8"
        size="large"
      ></p-button>
    </div>
    }
    <img
      src="../../../../assets/chef.svg"
      alt="chef"
      class="absolute bottom-0 right-0 w-10 md:w-4 opacity-40"
    />

    <section
      class="flex justify-content-between w-full border-y-1 border-300 py-1 align-items-center px-3"
    >
      <div class="text-2xl font-medium poppins-medium">{{ currentTime }}</div>
      @if (!layoutService.isMobile()) {

      <p-button
        (onClick)="createClient()"
        icon="pi pi-user-plus text-primary-500 text-xl"
        badge="+"
        badgeClass="text-lg"
        label="Cliente"
        styleClass="bg-primary-50 text-primary-600 text-sm poppins-medium "
        size="large"
      ></p-button>

      }
      <div
        class="align-items-center flex flex-column gap-0 md:gap-1 surface-50 border-1 border-200 px-2 py-1 border-round"
      >
        <div class="text-xl text-primary-600 md:text-base">
          {{ orders.length }}
        </div>
        <div class="text-xs text-700 poppins-regular">Activos</div>
      </div>
      @if (!layoutService.isMobile()) {
      <p-button
        (onClick)="createOrder()"
        icon="pi pi-list text-primary-500 text-xl"
        badge="+"
        badgeClass="text-lg"
        label="Orden"
        styleClass="bg-primary-50 text-primary-600 text-sm poppins-medium "
        size="large"
      ></p-button
      >}
      <p-dropdown
        [(ngModel)]="filterRoleSelect"
        styleClass="border-1 surface-50 shadow-none  h-3rem py-2 border-200"
        [options]="filterOptionsRole"
      ></p-dropdown>
      <p-button
        [label]="layoutService.isMobile() ? '' : 'Opciones'"
        styleClass="flex cursor-pointer hover:bg-primary-100 bg-primary-50 h-3rem w-3rem md:w-auto text-primary-600 poppins-medium pl-2  align-items-center gap-2"
        icon="text-primary pi pi-sliders-h text-xl"
        (onClick)="showFilters = !showFilters"
      ></p-button>
    </section>
    <div class="py-2 overflow-x-scroll white-space-nowrap w-full">
      @for (order of orders; track $index) {
      <div class="bg-white w-14rem mx-2 inline-block p-2">
        <div class="flex w-full flex-column gap-2">
          <div class="flex w-full justify-content-between">
            @switch (order.state!.priority) { @case (1) {
            <p-tag
              icon="pi pi-circle"
              severity="secondary"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } @case (2) {
            <p-tag
              icon="pi pi-circle-fill"
              severity="warn"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } @case (3) {
            <p-tag
              severity="contrast"
              icon="pi pi-spin pi-spinner"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } @case (4) {
            <p-tag
              icon="pi pi-spin pi-spinner"
              severity="info"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } @case (5) {
            <p-tag
              icon="pi pi-spin pi-spinner"
              severity="success"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } @case (6) {
            <p-tag
              icon="pi pi-check"
              severity="success"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium  bg-green-200"
            />
            } @case (0) {
            <p-tag
              icon="pi pi-times"
              severity="danger"
              [value]="order.state!.name"
              (click)="getImpressOrder(order)"
              styleClass="cursor-pointer hover:surface-200 poppins-medium"
            />
            } }
            <p-badge
              severity="secondary"
              [value]="order.id_order"
              styleClass="poppins-medium cursor-pointer hover:surface-200 hover:shadow-2"
              (click)="showOrder(order)"
            ></p-badge>
          </div>
          <div
            class="font-semibold text-center white-space-normal text-800 mt-1 poppins-medium"
          >
            {{ order.client!.name + " " + order.client!.lastname + "" }}
          </div>
          <div
            class="flex poppins-regular w-full align-items-center justify-content-between"
          >
            <div class="flex text-500 text-sm">
              {{ order.created_at | date : "HH:mm" }}

              @if (order.state!.name !== 'Completado') {
              <div class="ml-1 text-800">
                {{ "-" }}
              </div>
              <div class="ml-1 text-primary-600">
                {{ getOrderTime(order) }}
              </div>
              }
            </div>
            <div class="surface-100 p-1" style="border-radius: 30px">
              <div
                style="border-radius: 30px"
                class="surface-0 price-style poppins-medium flex align-items-center gap-2 justify-content-center py-1 px-2"
              >
                <span class="text-primary">Bs.</span>
                <span class="text-900 font-medium text-md">{{
                  order.total_amount
                }}</span>
              </div>
            </div>
          </div>
          <div class="flex flex-column gap-2 px-2 poppins-light text-sm">
            @for (item of order.orderItems; track $index) {
            <div>
              {{ item.quantity }} <span class="text-primary-600">-</span>
              {{ item.item.name }}
            </div>
            }
          </div>
          @if(order.notes){

          <div
            class="flex gap-2 px-2 py-2 align-items-center border-1 border-100 border-round w-full surface-100"
          >
            <i class="pi pi-info-circle text-xl text-700"></i>
            <div class="text-800 text-xs white-space-normal poppins-light">
              {{ order.notes }}
            </div>
          </div>
          }
          <div
            class="w-full text-sm md:text-md poppins-regular border-1 text-center surface-100 text-600 border-round border-200 px-2 py-1"
          >
            {{ order.service_mode }}
          </div>
          @if(order.state?.priority !== 0 && order.state?.priority !== 6) {
          <p-button
            icon="pi pi-check"
            [label]="getLabelNextState(order.state?.priority!)"
            (onClick)="updateNextOrderState(order)"
            styleClass="w-full h-2rem poppins-regular"
            size="small"
          ></p-button>
          }
        </div>
      </div>
      } @empty {
      <div class="w-full flex justify-content-center">
        <div
          class="w-30rem surface-50 border-100 border-round border-200 border-1 p-3 gap-3 flex align-items-center flex-column"
        >
          <div class="w-full poppins-medium text-center text-2xl">
            Sin pedidos registrados
          </div>
          <img src="../../../../assets/void.svg" alt="empty-list" class="w-5" />
          <div class="w-full poppins-regular text-center white-space-normal">
            ¡Aún no hay órdenes! Estamos listos para servir cuando tú lo estés
            😊
          </div>
        </div>
      </div>
      }
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
    <div class="flex border-y-1 border-200 my-1 flex-column gap-1 p-3 md:gap-2">
      <span class="text-3xl poppins-medium">Notificaciones</span>
    </div>
    <div class="px-2">
      @for (message of messages; track message; let first = $first) {
      <p-message
        [severity]="message.severity"
        [styleClass]="message.styleClass"
        [text]="message.content"
      />
      }
    </div>
  </div>
  @if (layoutService.isMobile()) {

  <p-sidebar
    [modal]="layoutService.isMobile()"
    class="w-11"
    styleClass="w-11"
    [(visible)]="showFilters"
    position="right"
    transitionOptions="400ms cubic-bezier(0, 0, 0.2, 1)"
  >
    <ng-template pTemplate="header">
      <div class="text-xl poppins-medium">Acciones rápidas</div>
    </ng-template>
    <div class="text-md text-700 poppins-regular">
      Para todas las ordenes del día
    </div>
    <div class="flex justify-content-around align-items-center mt-2">
      <p-button
        label="Imprimir"
        icon="pi pi-print"
        severity="secondary"
        styleClass="surface-200"
      />
      <p-button
        label="Confirmar"
        icon="pi pi-check"
        severity="secondary"
        styleClass="surface-200"
      />
    </div>
    <div class="w-full text-xl poppins-medium mt-4 mb-2">
      Filtros y mensajes
    </div>
    <div class="text-md text-700 poppins-regular">Filtros por servicio</div>
    <p-multiSelect
      styleClass="mt-2 max-w-full w-full"
      [options]="serviceModes"
      [(ngModel)]="filterServiceModeSelect"
      placeholder="Selecciona sus filtros por servicio"
      display="chip"
      [showClear]="true"
    />
    <div
      class="w-full flex justify-content-between mt-3 align-items-center border-y-1 border-200 py-2"
    >
      <div class="text-md text-700 poppins-regular">Pedidos con detalles</div>
      <p-inputSwitch styleClass="mt-1" />
    </div>
    <div class="text-md text-700 poppins-regular mt-3">Filtros por estado</div>
    <p-multiSelect
      styleClass="mt-2 max-w-full w-full"
      [options]="states()"
      [optionLabel]="'name'"
      [(ngModel)]="filterStatesSelect"
      placeholder="Selecciona sus filtros por estado"
      display="chip"
      [showClear]="true"
    />
    <div
      class="w-full flex justify-content-between mt-3 align-items-center border-y-1 border-200 py-2"
    >
      <div class="text-md text-700 poppins-regular">Pedidos B2B</div>
      <p-inputSwitch styleClass="mt-1" />
    </div>
    <p-button styleClass="w-full mt-3" label="Aplicar Filtros"></p-button>
    <div class="w-full text-xl poppins-medium mt-4 mb-2">Mensajes Rápidos</div>
    @for (message of messagesToSend; track $index) {
    <div
      class="w-full flex white-space-normal align-items-center justify-content-between my-1"
    >
      <div class="poppins-regular text-700">{{ "- " + message.content }}</div>
      <p-button
        severity="secondary"
        [text]="true"
        icon="pi pi-arrow-right"
      ></p-button>
    </div>
    }
  </p-sidebar>
  } @if (!layoutService.isMobile()) {
  <div
    class="h-auto border-left-1 border-200 transition-ease-in-out transition-duration-500"
    [ngClass]="showFilters ? 'w-3' : 'w-0 hidden'"
  >
    <div class="flex flex-column w-full px-3">
      <div class="w-full text-xl poppins-medium my-3 mb-2">
        Acciones rápidas
      </div>
      <div class="text-md text-700 poppins-regular">
        Para todas las ordenes del día
      </div>
      <div class="flex justify-content-around align-items-center mt-2">
        <p-button
          label="Imprimir"
          icon="pi pi-print"
          severity="secondary"
          styleClass="surface-200"
        />
        <p-button
          label="Confirmar"
          icon="pi pi-check"
          severity="secondary"
          styleClass="surface-200"
        />
      </div>
      <div class="w-full text-xl poppins-medium mt-4 mb-2">Filtros</div>
      <div class="text-md text-700 poppins-regular">Filtros por servicio</div>
      <p-multiSelect
        styleClass="mt-2 w-full"
        [maxSelectedLabels]="2"
        [options]="serviceModes"
        [(ngModel)]="filterServiceModeSelect"
        placeholder="Selecciona sus filtros por servicio"
        display="chip"
        [showClear]="true"
      />
      <div
        class="w-full flex justify-content-between mt-3 align-items-center border-y-1 border-200 py-2"
      >
        <div class="text-md text-700 poppins-regular">Pedidos con detalles</div>
        <p-inputSwitch styleClass="mt-1" />
      </div>
      <div class="text-md text-700 poppins-regular mt-3">
        Filtros por estado
      </div>
      <p-multiSelect
        styleClass="mt-2 max-w-full w-full"
        [options]="states()"
        [maxSelectedLabels]="2"
        [optionLabel]="'name'"
        [(ngModel)]="filterStatesSelect"
        placeholder="Selecciona sus filtros por estado"
        display="chip"
        [showClear]="true"
      />
      <div
        class="w-full flex justify-content-between mt-3 align-items-center border-y-1 border-200 py-2"
      >
        <div class="text-md text-700 poppins-regular">Pedidos B2B</div>
        <p-inputSwitch styleClass="mt-1" />
      </div>
      <p-button styleClass="w-full mt-3" label="Aplicar Filtros"></p-button>
      <div class="w-full text-xl poppins-medium mt-4 mb-2">
        Mensajes Rápidos
      </div>
      @for (message of messagesToSend; track $index) {
      <div
        class="w-full flex white-space-normal align-items-center justify-content-between my-1"
      >
        <div class="poppins-regular text-700">{{ "- " + message.content }}</div>
        <p-button
          severity="secondary"
          [text]="true"
          icon="pi pi-arrow-right"
        ></p-button>
      </div>
      }
    </div>
  </div>
  }
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
