<div class="flex justify-content-between">
  <app-title title="Lista de usuarios" />
  <div class="flex gap-3 justify-content-center align-items-center">
    <p-button
      severity="success"
      icon="pi pi-user-plus font-medium"
      label="Nuev@ usuario"
      [rounded]="true"
      styleClass="text-sm"
      (onClick)="createUser()"
    ></p-button>
  </div>
</div>
<p-card class="p-0">
  <p-table [value]="customers()" styleClass="-mt-5 -mb-3">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.id_customer }}</td>
        <td>
          <img
            [src]="customer!.photo | image"
            class="border-circle w-2rem h-2rem"
            alt="Profile"
          />
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td class="white-space-nowrap">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            styleClass="h-2rem w-2rem"
            (onClick)="editUser(customer)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            styleClass="h-2rem w-2rem ml-2"
            (onClick)="removeUser(customer)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ 'Total: ' + customers.length }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No hay Usuarios registrados</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
