<div class="w-full flex flex-column gap-3 mt-2 md:mt-0">
  <div class="flex flex-column md:flex-row w-full gap-3 md:gap-5">
    <div class="flex flex-column gap-2 w-full">
      <label for="client">Cliente <i class="pi pi-user mx-1"></i> </label>
      <p-dropdown
        id="client"
        type="text"
        [(ngModel)]="order.client"
        placeholder="Seleccione al cliente"
        [filter]="true"
        filterPlaceholder="Busca al cliente"
        emptyFilterMessage="No se encontró al cliente"
        filterBy="name,lastname"
        [filterFields]="['name','lastname']"
        [resetFilterOnHide]="true"
        [options]="clients()"
        [styleClass]="!order.client || inputDirt.client ? 'p-inputtext-sm w-full border-red-200' : 'p-inputtext-sm w-full'"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="order.client">
            <div>{{ order.client!.name }} {{ order.client!.lastname }}</div>
          </div>
        </ng-template>
        <ng-template let-client pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ client.name }} {{ client.lastname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-column gap-2 w-full">
      <label for="customer"
        >Vendedor <i class="pi pi-user-plus mx-1"></i
      ></label>
      <p-dropdown
        id="customer"
        type="text"
        [(ngModel)]="order.customer"
        [options]="customers()"
        placeholder="Seleccione al Vendedor"
        [disabled]="customerService.customer()!.name !== 'Administrador'"
        [styleClass]="!order.customer || inputDirt.customer ? 'p-inputtext-sm w-full border-red-200' : 'p-inputtext-sm w-full'"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="order.customer">
            <div>{{ order.customer!.name }} {{ order.customer!.lastname }}</div>
          </div>
        </ng-template>
        <ng-template let-customer pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ customer.name }} {{ customer.lastname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="flex flex-column gap-2 w-full">
    <label for="username"
      >Notas importantes sobre la orden: <i class="pi pi-pencil mx-1"></i
    ></label>
    <textarea
      rows="2"
      cols="30"
      placeholder="Escriba acá cada las indicaciones importantes porfavor"
      pInputTextarea
      [(ngModel)]="order.notes"
      [autoResize]="true"
      class="w-full text-sm"
      [ngClass]="{'ng-invalid ng-dirty': order.notes.length === 0}"
    ></textarea>
  </div>
  <div class="flex flex-column md:flex-row w-full gap-3 md:gap-5">
    <div class="flex flex-column w-full gap-2">
      <label for="state">Estado <i class="pi pi-tag mx-1"></i></label>
      <p-dropdown
        inputId="state"
        [(ngModel)]="order.state"
        placeholder="Seleccione el estado de la orden"
        [options]="states()"
        [loading]="loadingStates()"
        optionLabel="name"
        [styleClass]="!order.state || inputDirt.state ? 'p-inputtext-sm w-full border-red-200' : 'p-inputtext-sm w-full'"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="order.state">
            <div class="flex align-items-center gap-2">
              <p-badge
                value="."
                styleClass="text-black-alpha-10"
              />
              {{ order.state.name }}
            </div>
          </div>
        </ng-template>
        <ng-template let-state pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div class="flex align-items-center gap-2">
              <p-badge
                styleClass="text-black-alpha-10"
                value="."
                [severity]="state.color"
              />
              {{ state.name }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex flex-column w-full gap-2">
      <label for="service_mode">
        Tipo de servicio <i class="pi pi-sign-out mx-1"></i
      ></label>

      <div
        class="flex gap-2 w-full justify-content-around md:justify-content-between"
      >
        @for (serviceMode of serviceModes; track $index) {
          <!-- [severity]="serviceMode.label !== 'Para llevar' ? 'warning':''" -->
        <p-button
          [label]="serviceMode.label"
          [outlined]="!serviceMode.isSelect"
          size="small"
          (onClick)="selectServiceMode($index)"
        ></p-button>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-column md:flex-row gap-4 md:gap-2 w-full">
    <div class="flex flex-column w-full gap-2">
      @if (order.orderItems) {

      <label for="state"
        >Platos disponibles <i class="pi pi-verified mx-1"></i>
        <p-button
          [icon]="showAllItems ? 'pi pi-eye text-xs':'pi pi-plus text-xs'"
          styleClass="ml-1"
          severity="help"
          [style]="{ 'width.px': 18, 'height.px': 18, 'padding.px': 0, 'margin-bottom.px': 2 }"
          [outlined]="!showAllItems"
          (onClick)="showAllItems = !showAllItems"
          [rounded]="true"
        ></p-button>
      </label>
      }@else {
      <label for="state"
        >Platos disponibles <i class="pi pi-verified mx-1"></i
      ></label>
      }
      <div class="flex flex-column gap-2">
        <p-carousel
          [value]="!showAllItems ? itemsAvailable : itemsService.items() "
          [numVisible]="2"
          [showIndicators]="false"
          [showNavigators]="!layoutService.isMobile()"
          orientation="vertical"
          verticalViewPortHeight="175px"
          [numScroll]="1"
        >
          <ng-template let-item pTemplate="item">
            <div
              class="surface-100 border-none transition-colors transition-duration-500 hover:bg-bluegray-300 h-5rem w-full border-300 border-1 border-round-md flex p-2 gap-3 cursor-pointer"
              (click)="order.orderItems ? addUpdateItem(item) : addItem(item)"
            >
              <div
                class="ml-2 w-4rem h-4rem border-circle flex justify-content-center align-items-center"
              >
                <img src="../../../assets/dish.svg" alt="dish" class="w-full h-full">
              </div>
              <div
                class="flex flex-column align-items-start justify-content-center w-full gap-2"
              >
                <div class="text-md font-semibold">{{ item.name }}</div>
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-tag text-400"></i>
                  @if (item.type_item === 0) {
                  <span class="font-semibold text-sm text-500"
                    >Sopa o entrante</span
                  >
                  } @if (item.type_item === 1) {
                  <span class="font-semibold text-sm text-500">Segundo</span>
                  } @if (item.type_item === 2) {
                  <span class="font-semibold text-sm text-500">Otro</span>
                  }
                </span>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="flex flex-column w-full gap-2">
      <label for="service_mode">
        Platos seleccionados <i class="pi pi-shopping-cart mx-1"></i
      ></label>
      @if (order.orderItems) {
      <p-table
        [value]="order.orderItems"
        [styleClass]="order.orderItems.length === 0 ?  'p-datatable-sm md:p-datatable-md border-red-200 border-1 border-round-lg p-1':'p-datatable-sm md:p-datatable-md p-1'"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-sm font-normal">Nombre</th>
            <th class="text-sm font-normal">Cantidad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer" (click)="removeUpdateItem(item)">
            <td>{{ item.item.name }}</td>
            <td class="text-center">{{ item.quantity }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-end">
            <span
              >Precio total: @if (editTotal) {
              <input
                pInputText
                type="number"
                [(ngModel)]="order.total_amount"
                class="p-inputtext-sm w-6 text-right"
              />
              <p-button
                icon="pi pi-check font-semibold"
                (click)="editTotal=!editTotal"
                [rounded]="true"
                severity="success"
                styleClass="h-2rem w-2rem ml-2 mb-1"
              ></p-button>
              } @else {
              <p-badge
                [value]="'Bs. ' + order.total_amount.toString()"
                severity="info"
                styleClass="cursor-pointer"
                size="large"
                (click)="editTotal=!editTotal"
              />}</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" class="text-sm text-300">
              No hay platos seleccionados
            </td>
          </tr>
        </ng-template>
      </p-table>
      } @else {
      <p-table
        [value]="selectItems"
        [styleClass]="selectItems.length === 0 ?  'p-datatable-sm md:p-datatable-md border-red-200 border-1 border-round-lg p-1':'p-datatable-sm md:p-datatable-md p-1'"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-sm font-normal">Nombre</th>
            <th class="text-sm font-normal">Cantidad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer" (click)="removeItem(item)">
            <td>{{ item.name }}</td>
            <td class="text-center">{{ item.quantity }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-end">
            <span
              >Precio total: @if (editTotal) {
              <input
                pInputText
                type="number"
                [(ngModel)]="order.total_amount"
                class="p-inputtext-sm w-6 text-right"
              />
              <p-button
                icon="pi pi-check"
                (click)="editTotal=!editTotal"
                [rounded]="true"
                severity="success"
                styleClass="h-2rem w-2rem ml-2 mb-1"
              ></p-button>
              } @else {
              <p-badge
                [value]="'Bs. ' + order.total_amount.toString()"
                severity="info"
                styleClass="cursor-pointer"
                size="large"
                (click)="editTotal=!editTotal"
              />}</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" class="text-sm text-300">
              No hay platos seleccionados
            </td>
          </tr>
        </ng-template>
      </p-table>
      }
      <p-calendar
        [(ngModel)]="order.date"
        dateFormat="yy-mm-dd"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2010:2030"
        [inputStyleClass]=" "
        styleClass="w-full"
        [showIcon]="true"
        [touchUI]="true"
        [readonlyInput]="true"
      ></p-calendar>
    </div>
  </div>
  <div class="w-full justify-content-end">
    <p-button
      styleClass="w-full"
      [label]="config.data ? 'Actualizar orden' : 'Crear orden'"
      severity="success"
      (onClick)="config.data ? updateOrder() : createOrder()"
      [disabled]="config.data?.disabled ? true : false"
      size="small"
    ></p-button>
  </div>
</div>
