<div class="w-full flex flex-col gap-3 mt-2 md:mt-0">
  <div class="flex flex-col md:flex-row w-full gap-3 md:gap-5">
    <div class="flex flex-col gap-2 w-full">
      <label for="client" class="poppins-regular"
        >Cliente <i class="pi pi-user mx-1"></i>
      </label>
      <p-dropdown
        id="client"
        type="text"
        [(ngModel)]="order.client"
        placeholder="Seleccione al cliente"
        [filter]="true"
        filterPlaceholder="Busca al cliente"
        emptyFilterMessage="No se encontró al cliente"
        filterBy="name,lastname"
        [filterFields]="['name', 'lastname']"
        [resetFilterOnHide]="true"
        [options]="clients()"
        [styleClass]="
          !order.client || inputDirt.client
            ? 'p-inputtext-sm w-full border-red-200'
            : 'p-inputtext-sm w-full'
        "
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="flex items-center poppins-regular text-sm gap-2"
            *ngIf="order.client"
          >
            <div>{{ order.client!.name }} {{ order.client!.lastname }}</div>
          </div>
        </ng-template>
        <ng-template let-client pTemplate="item">
          <div class="flex items-center poppins-regular text-sm gap-2">
            <div>{{ client.name }} {{ client.lastname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <label for="customer" class="poppins-regular"
        >Vendedor <i class="pi pi-user-plus mx-1"></i
      ></label>
      <p-dropdown
        id="customer"
        type="text"
        [(ngModel)]="order.customer"
        [options]="customers()"
        placeholder="Seleccione al Vendedor"
        [disabled]="customerService.customer()!.name !== 'Administrador'"
        [styleClass]="
          !order.customer || inputDirt.customer
            ? 'p-inputtext-sm w-full border-red-200'
            : 'p-inputtext-sm w-full'
        "
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="flex items-center poppins-regular text-sm gap-2"
            *ngIf="order.customer"
          >
            <div>{{ order.customer!.name }} {{ order.customer!.lastname }}</div>
          </div>
        </ng-template>
        <ng-template let-customer pTemplate="item">
          <div class="flex items-center poppins-regular text-sm gap-2">
            <div>{{ customer.name }} {{ customer.lastname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="flex flex-col gap-2 w-full">
    <label for="username" class="poppins-regular"
      >Notas importantes sobre la orden: <i class="pi pi-pencil mx-1"></i
    ></label>
    <textarea
      rows="2"
      cols="30"
      placeholder="Escriba acá cada las indicaciones importantes porfavor"
      pTextarea
      [(ngModel)]="order.notes"
      [autoResize]="true"
      class="w-full text-sm"
      [ngClass]="{ 'ng-invalid ng-dirty': order.notes.length === 0 }"
    ></textarea>
  </div>
  <div class="flex flex-col md:flex-row w-full gap-3 md:gap-5">
    <div class="flex flex-col w-full gap-2">
      <label for="state" class="poppins-regular"
        >Estado <i class="pi pi-tag mx-1"></i
      ></label>
      <p-dropdown
        inputId="state"
        [(ngModel)]="order.state"
        placeholder="Seleccione el estado de la orden"
        [options]="states()"
        [loading]="loadingStates()"
        optionLabel="name"
        [styleClass]="
          !order.state || inputDirt.state
            ? 'p-inputtext-sm w-full border-red-200'
            : 'p-inputtext-sm w-full'
        "
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex items-center gap-2" *ngIf="order.state">
            <div class="flex items-center gap-2 poppins-regular text-sm">
              @switch (order.state!.priority) { @case (1) {
              <p-tag
                icon="pi pi-circle"
                severity="secondary"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } @case (2) {
              <p-tag
                icon="pi pi-circle-fill"
                severity="warn"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } @case (3) {
              <p-tag
                severity="contrast"
                icon="pi pi-spin pi-spinner"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } @case (4) {
              <p-tag
                icon="pi pi-spin pi-spinner"
                severity="info"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } @case (5) {
              <p-tag
                icon="pi pi-spin pi-spinner"
                severity="success"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } @case (6) {
              <p-tag
                icon="pi pi-check"
                severity="success"
                [value]="order.state!.name"
                styleClass="poppins-medium  bg-green-200"
              />
              } @case (0) {
              <p-tag
                icon="pi pi-times"
                severity="danger"
                [value]="order.state!.name"
                styleClass="poppins-medium"
              />
              } }
            </div>
          </div>
        </ng-template>
        <ng-template let-state pTemplate="item">
          <div class="flex items-center gap-2">
            <div class="flex items-center gap-2 poppins-regular text-sm">
              @switch (state!.priority) { @case (1) {
              <p-tag
                icon="pi pi-circle"
                severity="secondary"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } @case (2) {
              <p-tag
                icon="pi pi-circle-fill"
                severity="warn"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } @case (3) {
              <p-tag
                severity="contrast"
                icon="pi pi-spin pi-spinner"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } @case (4) {
              <p-tag
                icon="pi pi-spin pi-spinner"
                severity="info"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } @case (5) {
              <p-tag
                icon="pi pi-spin pi-spinner"
                severity="success"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } @case (6) {
              <p-tag
                icon="pi pi-check"
                severity="success"
                [value]="state!.name"
                styleClass="poppins-medium  bg-green-200"
              />
              } @case (0) {
              <p-tag
                icon="pi pi-times"
                severity="danger"
                [value]="state!.name"
                styleClass="poppins-medium"
              />
              } }
            </div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex flex-col w-full gap-2">
      <label for="service_mode">
        Tipo de servicio <i class="pi pi-sign-out mx-1"></i
      ></label>

      <div class="flex gap-2 w-full justify-around md:justify-between">
        @for (serviceMode of serviceModes; track $index) {
        <!-- [severity]="serviceMode.label !== 'Para llevar' ? 'warning':''" -->
        <p-button
          severity="secondary"
          [label]="serviceMode.label"
          [styleClass]="
            serviceMode.isSelect
              ? 'poppins-medium text-xs border-slate-400 bg-slate-200 dark:bg-gray-950 dark:border-gray-900'
              : 'poppins-medium text-xs border-slate-400 '
          "
          [outlined]="!serviceMode.isSelect"
          size="small"
          (onClick)="selectServiceMode($index)"
        ></p-button>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-4 md:gap-2 w-full">
    <div class="flex flex-col w-full gap-2">
      @if (order.orderItems) {

      <label for="state"
        >Platos disponibles <i class="pi pi-verified mx-1"></i>
        <p-button
          [icon]="showAllItems ? 'pi pi-eye text-xs' : 'pi pi-plus text-xs'"
          styleClass="ml-1"
          severity="help"
          [style]="{
            'width.px': 18,
            'height.px': 18,
            'padding.px': 0,
            'margin-bottom.px': 2
          }"
          [outlined]="!showAllItems"
          (onClick)="showAllItems = !showAllItems"
          [rounded]="true"
        ></p-button>
      </label>
      }@else {
      <label for="state" class="poppins-regular"
        >Platos disponibles <i class="pi pi-verified mx-1"> </i>
        @if(loadingItems){
        <i class="pi pi-spin pi-spinner mx-1"> </i>
        } @else {
        <i
          class="pi pi-history cursor-pointer hover:text-400 mx-1"
          (click)="getItems()"
        >
        </i>
        }
      </label>
      }
      <div class="flex flex-col gap-2 max-h-60 overflow-auto">
        @for (item of itemsAvailables; track $index) {
        <div
          class="border-none transition-colors transition-duration-500 hover:bg-slate-100 dark:hover:bg-gray-950 hover:shadow-1 h-20 w-full border-slate-300 border-2 rounded flex p-2 gap-3 cursor-pointer"
          (click)="
            order.orderItems ? addUpdateItem(item.item!) : addItem(item.item!)
          "
        >
          <div
            class="ml-2 w-16 h-16 border-circle flex justify-center items-center"
          >
            <img
              src="../../../assets/dish.svg"
              alt="dish"
              class="w-full h-full"
            />
          </div>
          <div class="flex flex-col items-start justify-center w-full gap-2">
            <div class="text-sm md:text-md font-semibold poppins-regular">
              {{ item.item!.name }}
            </div>
            <span class="flex items-center gap-2">
              <i class="pi pi-tag text-slate-400"></i>

              <span
                class="font-semibold text-xs md:text-sm text-slate-500 poppins-regular"
                >{{ item.item?.type_item }}</span
              >
            </span>
          </div>
          <div class="flex flex-col justify-center items-center px-2 gap-1">
            <div
              class="text-sm md:text-md font-semibold poppins-regular text-primary"
            >
              {{ item.quantity - item.sold }}
            </div>
            <span
              class="text-xs md:text-sm flex items-center text-600 poppins-regular"
            >
              Disponibles
            </span>
          </div>
        </div>
        } @empty {
        <div
          (click)="getItems()"
          class="border-none transition-colors transition-duration-500 hover:bg-slate-100 dark:hover:bg-gray-950 hover:shadow-1 h-20 w-full border-slate-300 border-2 rounded flex p-2 gap-3 cursor-pointer"
        >
          <div
            class="ml-2 w-16 h-16 border-circle flex justify-center items-center"
          >
            <img
              src="../../../assets/dish.svg"
              alt="dish"
              class="w-full h-full"
            />
          </div>
          <div class="flex flex-col items-start justify-center w-full gap-2">
            <div class="text-md font-semibold">
              {{ "Sin items disponibles" }}
            </div>
            <span class="flex items-center gap-2">
              <i class="pi pi-info-circle text-400"></i>

              <span class="font-semibold text-sm text-500"
                >Agrega un pedido</span
              >
            </span>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="flex flex-col w-full gap-2">
      <label for="service_mode" class="poppins-regular">
        Platos seleccionados <i class="pi pi-shopping-cart mx-1"></i
      ></label>
      @if (order.orderItems) {
      <p-table
        [value]="order.orderItems"
        [styleClass]="
          order.orderItems.length === 0
            ? 'p-datatable-sm md:p-datatable-md border-red-200 border-2 rounded p-1'
            : 'p-datatable-sm md:p-datatable-md p-1'
        "
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-sm font-normal">Nombre</th>
            <th class="text-sm font-normal">Cantidad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer" (click)="removeUpdateItem(item)">
            <td>{{ item.item.name }}</td>
            <td class="text-center">{{ item.quantity }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex items-center justify-end">
            <span
              >Precio total: @if (editTotal) {
              <input
                pInputText
                type="number"
                [(ngModel)]="order.total_amount"
                class="p-inputtext-sm w-6 text-right"
              />
              <p-button
                icon="pi pi-check font-semibold"
                (click)="editTotal = !editTotal"
                [rounded]="true"
                severity="success"
                styleClass="h-8 w-8 ml-2 mb-1"
              ></p-button>
              } @else {
              <p-badge
                [value]="'Bs. ' + order.total_amount.toString()"
                severity="info"
                styleClass="cursor-pointer"
                size="large"
                (click)="editTotal = !editTotal"
              />}</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" class="text-sm text-slate-300">
              No hay platos seleccionados
            </td>
          </tr>
        </ng-template>
      </p-table>
      } @else {
      <p-table
        [value]="selectItems"
        [styleClass]="
          selectItems.length === 0
            ? 'p-datatable-sm md:p-datatable-md border-red-200 border-2 rounded p-1'
            : 'p-datatable-sm md:p-datatable-md p-1'
        "
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-sm font-normal poppins-regular">Nombre</th>
            <th class="text-sm font-normal poppins-regular">Cantidad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer" (click)="removeItem(item)">
            <td class="poppins-regular text-sm">{{ item.name }}</td>
            <td class="text-center poppins-regular text-sm">
              {{ item.quantity }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex items-center gap-2 justify-end">
            <span>Precio total:</span>
            @if (editTotal) {
            <input
              pInputText
              type="number"
              [(ngModel)]="order.total_amount"
              class="p-inputtext-sm w-6/12 text-right mt-2"
            />
            <p-button
              icon="pi pi-check"
              (click)="editTotal = !editTotal"
              [rounded]="true"
              severity="success"
              styleClass="h-8 w-8 ml-2 mb-1 mt-2"
            ></p-button>
            } @else {
            <div
              (click)="editTotal = !editTotal"
              class="cursor-pointer bg-slate-100 dark:bg-gray-900 shadow-md border-2 mt-1 border-gray-400 shadow-primary-500/50 p-1"
              style="border-radius: 30px"
            >
              <div
                style="border-radius: 30px"
                class="bg-slate-0 price-style poppins-medium flex items-center gap-2 justify-center py-1 px-2"
              >
                <span class="text-primary">Bs.</span>
                <span class="text-900 font-medium text-md">{{
                  order.total_amount
                }}</span>
              </div>
            </div>
            }
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" class="text-sm text-slate-300">
              No hay platos seleccionados
            </td>
          </tr>
        </ng-template>
      </p-table>
      }
      <p-datepicker
        [(ngModel)]="order.date"
        dateFormat="yy-mm-dd"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2010:2030"
        [inputStyleClass]=""
        styleClass="w-full"
        [showIcon]="true"
        [readonlyInput]="true"
      />
    </div>
  </div>
  <div class="w-full justify-end">
    <p-button
      styleClass="w-full poppins-medium"
      [label]="config.data ? 'Actualizar orden' : 'Crear orden'"
      severity="success"
      (onClick)="config.data ? updateOrder() : createOrder()"
      [disabled]="config.data?.disabled ? true : false"
      size="small"
    ></p-button>
  </div>
</div>
