<div class="flex transition-ease-in-out transition-duration-500">
  <div
    class=" fixed flex z-1  transition-ease-in-out transition-duration-500"
    [ngClass]="{
    '-translate-x-100 fixed w-2': layoutService.state.staticMenuDesktopInactive,
    'w-2  flex': !layoutService.state.staticMenuDesktopInactive && !layoutService.isMobile(),
    'fixed z-3 w-full': layoutService.isMobile() && layoutService.state.staticMenuMobileActive,
    'hidden': !layoutService.isMobile() || !layoutService.state.staticMenuMobileActive
  }"
  >
    <app-sidemenu class="fixed w-full md:w-2" />
  </div>

  <div
    class="flex flex-column transition-ease-in-out  transition-duration-500 transition-all  w-12"
    [ngClass]="!layoutService.state.staticMenuDesktopInactive  && !layoutService.isMobile() ? 'ml-5' : ''"
  >
    <app-topbar />
    @if (layoutService.isMobile()) {
      <div class="w-full h-4rem"></div>
    }
    <div class="p-3">
      <router-outlet />
    </div>
  </div>
</div>
