<div class="flex transition-ease-in-out transition-duration-500">
  <app-sidemenu
    class="z-1 transition-ease-in-out transition-duration-500"
    [ngClass]="{
      '-translate-x-100 fixed w-1': layoutService.state.staticMenuDesktopInactive,
      'w-3 flex': !layoutService.state.staticMenuDesktopInactive && !layoutService.isMobile(),
      'fixed w-full': layoutService.isMobile() && layoutService.state.staticMenuMobileActive,
      'hidden': !layoutService.isMobile() || !layoutService.state.staticMenuMobileActive
    }"
  />

  <div
    class="flex flex-column transition-ease-in-out transition-delay-1000 transition-duration-500 transition-all w-12"
  >
    <app-topbar />
    <div class="p-3">
      <router-outlet />
    </div>
  </div>
</div>
